$font-stack: 'PT Sans', sans-serif;
$block-bg-color: #FFFFFF;
$footer-icon-color: #999999;
$reply-text-color: #757575;
$reply-name-color: #666666;
$main-comment-color: #333333;
$comment-date-color: #CCCCCC;
$blue-color: #37809F;
$alert-color: #CC6666;